<div class="side-nav">
  <ul class="main-nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/ziele/">Ziele</a>
    </li>
    <li>
      <a href="/schwerpunkte/">Thematische Schwerpunkte</a>
    </li>
    <li>
      <a href="/veranstaltungen-2017/">Veranstaltungen 2017</a>
      <ul class="sub-nav">
        <li>
          <a href="/veranstaltungen-2016/">Veranstaltungen 2016</a>
        </li>
        <li>
          <a href="/veranstaltungen-2015/">Veranstaltungen 2015</a>
        </li>
        <li>
          <a href="/veranstaltungen-2014/">Veranstaltungen 2014</a>
        </li>
        <li>
          <a href="/veranstaltungen-2013/">Veranstaltungen 2013</a>
        </li>
        <li>
          <a href="/veranstaltungen-2012/">Veranstaltungen 2012</a>
        </li>
        <li>
          <a href="/veranstaltungen-2011/">Veranstaltungen 2011</a>
        </li>
        <li>
          <a href="/veranstaltungen-2010/">Veranstaltungen 2010</a>
        </li>
        <li>
          <a href="/veranstaltungen-2009/">Veranstaltungen 2009</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/vorstand">Vorstand</a>
    </li>
    <li>
      <a href="/mitglieder/">Mitglieder</a>
    </li>
    <li>
      <a href="/mitglied-werden">Mitglied werden</a>
    </li>
    <li>
      <a href="/kontakt/">Kontakt</a>
    </li>
    <li>
      <a href="/impressum/">Impressum</a>
    </li>
  </ul>
</div>