a:visited {
  text-decoration: none;
  color: #004370;
}

a:link {
  text-decoration: none;
  color: #004370;
}

a {
  color: #004370;
}

a:hover 	{
  color:#E85213; 
  text-decoration: underline; 
}
