a:visited {
  text-decoration: none;
  color: #004370;
}

a:link {
  text-decoration: none;
  color: #004370;
}

a {
  color: #004370;
}

a:hover 	{
  color:#E85213; 
  text-decoration: underline; 
}

.portrait {
  width: 80px;
  border: 1px solid #cccccc;
  padding: 4px;
  background-color: #f9f9f9;
  float: left;
  margin-right: 0.5em;
}